<h1 id="homeHeading">{{ title }}</h1>
<hr>
<br>
<div>
    <div>
        <br>
        <br>
        <span>The Question: {{ question.question }}</span>
        <br>
        <span>The Answer: {{ question.answer }}</span>
        <br>
        <div class="modal" id="myModal">
            <div class="modal-content">
                <span>Answer successfully edited!</span>
            </div>
        </div>
        <br>
        <span>Edit Answer:</span>
        <input type="hidden" id="answerId" value="{{question._id}}"/>
        <input type="text" id="editAnswer" value="{{ question.answer }}"/>
        <br>
        <br>
        <button name="submit" id="editQuestionFinal">Submit</button>
        <br>
        <br>
        <a href="/createQuestion", title="createQuestion">Go back</a>
    </div>
</div>


<script src='/js/editQuestion.js'></script>