script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js')
h1  Round One
div  Select your question:
.gamediv
  .content(style='color:#ff5757')
    span.value
  #game
    #form_layout
      form#myForm(action='GamePlay', method='post')
        select(name='questions')
          option(value='questionOne') #{questionOne}
          option(value='questionTwo') #{questionTwo}
          option(value='questionThree') #{questionThree}
          option(value='questionFour') #{questionFour}
          option(value='questionFive') #{questionFive}
          option(value='questionSix') #{questionSix}
        .submitdiv
          .center
            input#submit(type='submit', value='Submit')
script.
  $("submit").click(function(){
  $("div").hide();
  });
